<h1>Meier Home Construction Diary</h1>
<br />
<%= will_paginate @products %>


<% @notes.each do |note| %>
  <div class="note-box col-10 offset-1">
      <p>Note taken on: <%= note.created_at.strftime("%B %e, %Y at %I:%M %p") %></p>
      <h2><%= note.title %></h2><br />
      <i><%= note.description %></i><br />      
  </div>
<% end %>


